<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <listener>
        <listener-class>za.ac.tut.web.SessionCookieConfigListener</listener-class>
    </listener>
    <filter>
        <filter-name>SecurityHeadersFilter</filter-name>
        <filter-class>za.ac.tut.web.SecurityHeadersFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>SecurityHeadersFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter>
        <filter-name>CsrfFilter</filter-name>
        <filter-class>za.ac.tut.web.CsrfFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>CsrfFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter>
        <filter-name>AdminAuthFilter</filter-name>
        <filter-class>za.ac.tut.web.AdminAuthFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>AdminAuthFilter</filter-name>
        <url-pattern>/admin_dashboard.jsp</url-pattern>
        <url-pattern>/ViewUsersServlet.do</url-pattern>
        <url-pattern>/DeleteUserServlet.do</url-pattern>
        <url-pattern>/EditUserServlet.do</url-pattern>
        <url-pattern>/UpdateUserServlet.do</url-pattern>
        <url-pattern>/ReadUserServlet.do</url-pattern>
        <url-pattern>/read_user.jsp</url-pattern>
        <url-pattern>/list_of_users.jsp</url-pattern>
        <url-pattern>/edit_user.jsp</url-pattern>
        <url-pattern>/read_user_result.jsp</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>SavePasswordServlet</servlet-name>
        <servlet-class>za.ac.tut.web.SavePasswordServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TestServlet</servlet-name>
        <servlet-class>za.ac.tut.web.TestServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SaveDataServlet</servlet-name>
        <servlet-class>za.ac.tut.web.SaveDataServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminServlet</servlet-name>
        <servlet-class>za.ac.tut.web.AdminServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewUsersServlet</servlet-name>
        <servlet-class>za.ac.tut.web.ViewUsersServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteUserServlet</servlet-name>
        <servlet-class>za.ac.tut.web.DeleteUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditUserServlet</servlet-name>
        <servlet-class>za.ac.tut.web.EditUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateUserServlet</servlet-name>
        <servlet-class>za.ac.tut.web.UpdateUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReadUserServlet</servlet-name>
        <servlet-class>za.ac.tut.web.ReadUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReadingServlet</servlet-name>
        <servlet-class>za.ac.tut.web.ReadingServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserConfirmServlet</servlet-name>
        <servlet-class>za.ac.tut.web.UserConfirmServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CompleteProfileServlet</servlet-name>
        <servlet-class>za.ac.tut.web.CompleteProfileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AIChatServlet</servlet-name>
        <servlet-class>za.ac.tut.web.AIChatServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MobileHealthSyncServlet</servlet-name>
        <servlet-class>za.ac.tut.web.MobileHealthSyncServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MobileHealthSectionSyncServlet</servlet-name>
        <servlet-class>za.ac.tut.web.MobileHealthSectionSyncServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MobileContextSettingsServlet</servlet-name>
        <servlet-class>za.ac.tut.web.MobileContextSettingsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MobileLoginServlet</servlet-name>
        <servlet-class>za.ac.tut.web.MobileLoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MobileRegisterServlet</servlet-name>
        <servlet-class>za.ac.tut.web.MobileRegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MobileProfileServlet</servlet-name>
        <servlet-class>za.ac.tut.web.MobileProfileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MobileLogoutServlet</servlet-name>
        <servlet-class>za.ac.tut.web.MobileLogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HospitalLoginServlet</servlet-name>
        <servlet-class>za.ac.tut.web.HospitalLoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HospitalRegisterServlet</servlet-name>
        <servlet-class>za.ac.tut.web.HospitalRegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HospitalPatientsServlet</servlet-name>
        <servlet-class>za.ac.tut.web.HospitalPatientsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HospitalPatientDetailsServlet</servlet-name>
        <servlet-class>za.ac.tut.web.HospitalPatientDetailsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminSignServlet</servlet-name>
        <servlet-class>za.ac.tut.web.AdminSignServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignOutServlet</servlet-name>
        <servlet-class>za.ac.tut.web.SignOutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReportsServlet</servlet-name>
        <servlet-class>za.ac.tut.web.ReportsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MobileAlertsServlet</servlet-name>
        <servlet-class>za.ac.tut.web.MobileAlertsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PasswordResetRequestServlet</servlet-name>
        <servlet-class>za.ac.tut.web.PasswordResetRequestServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PasswordResetConfirmServlet</servlet-name>
        <servlet-class>za.ac.tut.web.PasswordResetConfirmServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SavePasswordServlet</servlet-name>
        <url-pattern>/SavePasswordServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TestServlet</servlet-name>
        <url-pattern>/TestServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SaveDataServlet</servlet-name>
        <url-pattern>/SaveDataServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminServlet</servlet-name>
        <url-pattern>/AdminServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewUsersServlet</servlet-name>
        <url-pattern>/ViewUsersServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteUserServlet</servlet-name>
        <url-pattern>/DeleteUserServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditUserServlet</servlet-name>
        <url-pattern>/EditUserServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateUserServlet</servlet-name>
        <url-pattern>/UpdateUserServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReadUserServlet</servlet-name>
        <url-pattern>/ReadUserServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReadingServlet</servlet-name>
        <url-pattern>/ReadingServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserConfirmServlet</servlet-name>
        <url-pattern>/UserConfirmServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CompleteProfileServlet</servlet-name>
        <url-pattern>/CompleteProfileServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AIChatServlet</servlet-name>
        <url-pattern>/AIChatServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MobileHealthSyncServlet</servlet-name>
        <url-pattern>/api/mobile/health-sync</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MobileHealthSectionSyncServlet</servlet-name>
        <url-pattern>/api/mobile/health-section-sync</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MobileContextSettingsServlet</servlet-name>
        <url-pattern>/api/mobile/context-settings</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MobileLoginServlet</servlet-name>
        <url-pattern>/api/mobile/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MobileRegisterServlet</servlet-name>
        <url-pattern>/api/mobile/register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MobileProfileServlet</servlet-name>
        <url-pattern>/api/mobile/me</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MobileLogoutServlet</servlet-name>
        <url-pattern>/api/mobile/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HospitalLoginServlet</servlet-name>
        <url-pattern>/HospitalLoginServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HospitalRegisterServlet</servlet-name>
        <url-pattern>/HospitalRegisterServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HospitalPatientsServlet</servlet-name>
        <url-pattern>/HospitalPatientsServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HospitalPatientDetailsServlet</servlet-name>
        <url-pattern>/HospitalPatientDetailsServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminSignServlet</servlet-name>
        <url-pattern>/admin</url-pattern>
        <url-pattern>/admin/</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignOutServlet</servlet-name>
        <url-pattern>/SignOutServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReportsServlet</servlet-name>
        <url-pattern>/ReportsServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MobileAlertsServlet</servlet-name>
        <url-pattern>/api/mobile/alerts</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PasswordResetRequestServlet</servlet-name>
        <url-pattern>/PasswordResetRequestServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PasswordResetConfirmServlet</servlet-name>
        <url-pattern>/PasswordResetConfirmServlet.do</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
        <cookie-config>
            <http-only>true</http-only>
        </cookie-config>
    </session-config>
</web-app>
