<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>SavePasswordServlet</servlet-name>
        <servlet-class>za.ac.tut.web.SavePasswordServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TestServlet</servlet-name>
        <servlet-class>za.ac.tut.web.TestServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SaveDataServlet</servlet-name>
        <servlet-class>za.ac.tut.web.SaveDataServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminServlet</servlet-name>
        <servlet-class>za.ac.tut.web.AdminServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewUsersServlet</servlet-name>
        <servlet-class>za.ac.tut.web.ViewUsersServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteUserServlet</servlet-name>
        <servlet-class>za.ac.tut.web.DeleteUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditUserServlet</servlet-name>
        <servlet-class>za.ac.tut.web.EditUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateUserServlet</servlet-name>
        <servlet-class>za.ac.tut.web.UpdateUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReadUserServlet</servlet-name>
        <servlet-class>za.ac.tut.web.ReadUserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReadingServlet</servlet-name>
        <servlet-class>za.ac.tut.web.ReadingServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserConfirmServlet</servlet-name>
        <servlet-class>za.ac.tut.web.UserConfirmServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AIChatServlet</servlet-name>
        <servlet-class>za.ac.tut.web.AIChatServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MobileHealthSyncServlet</servlet-name>
        <servlet-class>za.ac.tut.web.MobileHealthSyncServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MobileLoginServlet</servlet-name>
        <servlet-class>za.ac.tut.web.MobileLoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MobileRegisterServlet</servlet-name>
        <servlet-class>za.ac.tut.web.MobileRegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MobileProfileServlet</servlet-name>
        <servlet-class>za.ac.tut.web.MobileProfileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MobileLogoutServlet</servlet-name>
        <servlet-class>za.ac.tut.web.MobileLogoutServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SavePasswordServlet</servlet-name>
        <url-pattern>/SavePasswordServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TestServlet</servlet-name>
        <url-pattern>/TestServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SaveDataServlet</servlet-name>
        <url-pattern>/SaveDataServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminServlet</servlet-name>
        <url-pattern>/AdminServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewUsersServlet</servlet-name>
        <url-pattern>/ViewUsersServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteUserServlet</servlet-name>
        <url-pattern>/DeleteUserServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditUserServlet</servlet-name>
        <url-pattern>/EditUserServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateUserServlet</servlet-name>
        <url-pattern>/UpdateUserServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReadUserServlet</servlet-name>
        <url-pattern>/ReadUserServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReadingServlet</servlet-name>
        <url-pattern>/ReadingServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserConfirmServlet</servlet-name>
        <url-pattern>/UserConfirmServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AIChatServlet</servlet-name>
        <url-pattern>/AIChatServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MobileHealthSyncServlet</servlet-name>
        <url-pattern>/api/mobile/health-sync</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MobileLoginServlet</servlet-name>
        <url-pattern>/api/mobile/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MobileRegisterServlet</servlet-name>
        <url-pattern>/api/mobile/register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MobileProfileServlet</servlet-name>
        <url-pattern>/api/mobile/me</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MobileLogoutServlet</servlet-name>
        <url-pattern>/api/mobile/logout</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
